ion-menu-button {
  color: var(--ion-color-primary);
}

ion-card {
  margin: auto;
  max-width: 600px;
}

ion-card-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

ion-card-subtitle {
  font-size: 18px;
  text-align: center;
  color: #8c8c8c;
  margin-bottom: 16px;
}

ion-item p {
  font-size: 16px;
  margin: 0;
  color: #444;
}

#container {
  text-align: left;
  padding: 16px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

#card {
  max-width: 300px;
  margin: 0 auto;
}